<header>
    <div class="bannerHSeparados botlineaNaranja bkoscuro">
        <div class="argprog">
            <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
            <h5>Argentina Programa #YoProgramo</h5>
        </div>
        <!-- <a class="loggin" href="login">Iniciar Sesión</a> -->
        <div class="nav-log">
            <a class="" routerLink="/edit-index">Editar</a>
            <app-nav-logout></app-nav-logout>
        </div>

    </div>
    <div class="banner bannerHSeparados">
        <img draggable="false" class="nombre" src="../assets/bannerweb-04.png" alt="Bienvenido al portfolio de Tomas Stevan">
        <img draggable="false" class="reverse escudo" src="../assets/bannerweb-03-07.png" alt="Bienvenido al portfolio de Tomas Stevan">
    </div>
    <app-checkloguser></app-checkloguser>
</header>
