<footer>
    <div class="footer-up">
        <div class="bkfooter"> </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
        <div class="footer-content">
            <div class="footer-column">
                <img draggable="false" class="logo-footer" src="../assets/logo-un-color-13.png" alt="">
            </div>
            <div class="footer-botones-contacto">
                <!--mensajes relacionados con la manipulacion de Botonfooteres-->
                <p class="cargando">{{BotonfooterMessage}}</p>
                <a *ngFor="let botonfooter of Botonfooters" href={{botonfooter.url}}><img draggable="false" src={{botonfooter.logo}} alt=""></a>
            </div>
            
        </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
    </div>
   <div class="sub-footer">
    <div class="footer-redes-sociales">
        <!--mensajes relacionados con la manipulacion  de Subfooterdatos-->
        <p class="cargando">{{SubfooterdatoMessage}}</p>
        <a *ngFor="let subfooterdato of subfooterdatos" href={{subfooterdato.url}}><img draggable="false" class="icono" src={{subfooterdato.iconourl}} alt="contacot">{{subfooterdato.texto}}</a>
    </div>
   </div>
</footer>
