<footer>
    <div class="footer-up">
        <div class="bkfooter"> </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
        <div class="footer-content">
            <div class="footer-column">
                <img draggable="false" class="logo-footer" src="../assets/logo-un-color-13.png" alt="">
            </div>
            <div class="footer-botones-contacto">
                <a href="https://github.com/tycotic23"><img draggable="false" src="../assets/githublogo-naranja.png" alt=""></a>
                <a href="https://www.behance.net/tomasstevan"><img draggable="false" src="../assets/behance-logo.png" alt=""></a>
                <a href="https://tycotic.itch.io/"><img draggable="false" src="../assets/itchio-logo.png" alt=""></a>
            </div>
            
        </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
    </div>
   <div class="sub-footer">
    <div class="footer-redes-sociales">
        <a href="mailto:magui.maggie@gmail.com"><img draggable="false" class="icono" src="../assets/contactos-orejas-28.png" alt="email">magui.maggie@gmail.com</a>
        <a href="https://wa.me/5493417197518"><img draggable="false" class="icono" src="../assets/contactos-orejas-27.png" alt="telefono">+54 9 341 719-7518</a>
    </div>
   </div>
</footer>
