/*********************************************************************************************************************/
/****************************************************normalizacion****************************************************/
/*********************************************************************************************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    /* outline: 1px solid red; */
}

/*********************************************************************************************************************/
/*******************************************************fondos********************************************************/
/*********************************************************************************************************************/
.bk{
    
    background-size: cover;
    background-origin: content-box;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    z-index: -10;
    
}

.bkmain{
    background-attachment: fixed;
    background-image: url(assets/digital-art-knight-soldier-flag-wallpaper-preview.jpg);
}

.bkcontactos{
    background-attachment: fixed;
    background-image: url(assets/981.jpg);
}

.bkbanner{
    background-position: 0 50px;
    background-image: url(assets/fondo-cuero.jpg); /*(assets/rivets-black-leather-lookalike-background-260nw-44222344.webp);*/
}

.bkoscuro{
    background-color: rgb(22,3,0);
}

.none-bk{
    background: none;
}

.imgbk{
    width: 100%;
    /* background-color:rgb(22,3,0); */
    background-color:rgba(22, 3, 0, 0.712);
}

/*********************************************************************************************************************/
/***************************************************general***********************************************************/
/*********************************************************************************************************************/

html{
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    position: relative;
    padding-top: 7rem;
    background-color: rgba(22, 3, 0, 0.712);
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
}
/*********************************************************************************************************************/
/*****************************************************barra loggin****************************************************/
/*********************************************************************************************************************/
.loggin{
    margin-right: 2rem;
    color: rgb(213,94,2);
}

.loggin:active{
    color: rgb(213,94,2);
}

.loggin:hover{
    color: rgb(248, 156, 86);
}
/*********************************************************************************************************************/
/**********************************************************cabecera***************************************************/
/*********************************************************************************************************************/

header img{
    margin: 1rem;
}

header .nombre{
    height: 70%;
}

header .escudo{
    align-self: flex-start;
    height: 150%;
}



header{
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    padding: 0;
}

.bannerHSeparados{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header .banner{
    height: 20vw;
    justify-content: space-around;
    background-color: rgba(22, 3, 0, 0.712);
    
}

header .argprog{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 30vw;
}

/*********************************************************************************************************************/
/*****************************************************navegacion******************************************************/
/*********************************************************************************************************************/


nav{
    display: block;
    background-color: rgb(213,94,2);
    box-shadow: 0px -10px 10px -10px rgba(0, 0, 0, 0.8);
    /*background:linear-gradient(rgb(22,3,0), rgb(213,94,2),rgb(213,94,2));*/
    width: 100vw;
    padding-left: 10vw;
    padding-top: 1rem;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 100vw;
}

.nav{
    padding-left: 3vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    max-width: 60vw;
}

.nav img{
    width: 5vw;
    z-index: 1;
}


.navsosten{
    display: flex;
    flex-direction: row;
    gap: 0;
    max-width: 60vw;
}

.navsosten img{
    height: 3vh;
    padding: 0;
    margin: 0;
}

#palo{
    width: 50%;
}

/*********************************************************************************************************************/
/*****************************************************footer**********************************************************/
/*********************************************************************************************************************/

footer{
    min-height: 20vh;
    background-color: rgb(114,49,5);
    width: 100vw;
    max-width: 100vw;
    padding: 2rem;
}

footer img{
    height: 40vh;
}

/*********************************************************************************************************************/
/****************************************************secciones en general*********************************************/
/*********************************************************************************************************************/
main section>p{
    background-color: rgb(22,3,0);
    color: white;
    padding: 1rem;
    font-size: 14pt;
    border-radius: 0 0 10px 10px;
}

main h1{
    font-size: 25pt;
    width: 100%;
    padding-left: 3rem;
    padding-bottom: 0.5rem;
    border-width: 2px !important;
}

main>h2{
    font-size: 20pt;
    
}

main section h2{
    color: rgb(213,94,2);
    background-color: rgba(22, 3, 0, 0.712);
    font-size: 20pt;
    padding: 0.2rem;
    border-bottom:1px solid rgb(213,94,2);
    border-radius: 10px 10px 0 0;
}

main section h5{
    color: rgb(213,94,2);
    background-color: rgba(22, 3, 0, 0.712);
    font-size: 16pt;
    padding: 0.2rem;
    border-bottom:1px solid rgb(213,94,2);
    border-radius: 10px 10px 0 0;
}

main section p span{
    font-weight: 600;
    font-size: 16pt;
}

.content-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(22,3,0);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    align-items: center;
}

.content-section p{
    padding: 0;
    font-size: 14pt;
    width: 30%;
}

.content-section img{
    width: 30%;
}
/*********************************************************************************************************************/
/****************************************************proyectos seccion************************************************/
/*********************************************************************************************************************/

.section-proyecto{
    background-size: cover;
    background-position: 0 -300px;
    background-image: url(assets/papel-antiguo.jpg);               /*medieval-vintage-background-lighting-arches-33977247.jpg);*/
    padding: 0;
    border-radius: 10px;
}

.section-proyecto p{
    color: rgb(22,3,0);
    font-size: 14pt;
    background:none;
    padding: 1rem;
}
.title-relative{
    position: relative;
}

.section-proyecto h2{
    color:white;
    font-size: 20pt;
    position: absolute;
    top:-30pt;
    width: 100%;
}

.section-proyecto img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    height: 25vh;
    object-position: 0 -1px;
}

.section-proyecto img:hover{
    height: 60vh;
}

/*********************************************************************************************************************/
/****************************************************contactos section************************************************/
/*********************************************************************************************************************/

.red-social-contactos{
    display: flex;
    font-size: 20pt;
}

.contactos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
    width: 70%;
    background-size: cover;
    background-origin: border-box;
    background-position:0 0;
    background-image: url(assets/fondo-contactos.png);
    min-height: 40vh;
}


.contactos h2{
    align-self: flex-start;
    flex-grow: 1;
    width: 100%;
}

.content-contactos{
    display: flex;
    justify-content: space-evenly;
    
    border-radius: 0 0 10px 10px;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    
}
/*********************************************************************************************************************/
/****************************************************formacion seccion************************************************/
/*********************************************************************************************************************/
.formacion-section h5{
    color: rgb(213,94,2);
}

.xp-section,.formacion-section{
    border:2px solid rgb(213,94,2);
    border-radius: 10px;
    width: 80vw;
}

.xp-section h5{
    color: white;
}

.xp-section h5 span{
    color: rgb(213,94,2);
}

/*********************************************************************************************************************/
/********************************************************index seccion************************************************/
/*********************************************************************************************************************/

.main-section{
    border:2px solid rgb(22,3,0);
    border-radius: 15px;
    height: 100%;
    background-size: cover;
    background-position: 0 -300px;
    background-image: url(assets/papel-antiguo.jpg);
    color: rgb(22,3,0);   
}

.main-section img{
    height: 80vh;
    /*width: 100%;*/
    padding: 2rem;
}
.trescuartos-main img{
width: max-content;
height: 80vh;

}

.div-img-index{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section h2{
    background: none;
    margin-bottom: 1rem;
    width: 100%;
    color: rgb(213,94,2);
    background-color: rgba(22, 3, 0);
    border-radius: 10px 10px 0 0;
}

.main-section p{
    background: none;
    font-size: 14pt;
    color: rgb(22,3,0);   
}

.main-section span{
    background: none;
    font-size: 16pt;
    font-weight: 800;
    text-decoration: underline;
    color: rgb(22,3,0);   
}

.lenguaje{
    display: flex;
    flex-direction: column;
    width: 5vw;
    align-items: center;
    gap: 1rem;
    min-width: 70px;
}

.lenguaje img{
max-width: 100%;
min-width: 70px;
filter: invert(0.6) sepia(1) hue-rotate(-20deg) saturate(600%);
}


.index-content{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(22,3,0);
    border-radius: 0 0 10px 10px;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}



.index-section p{
    padding: 2rem;
}



.index-section span{
    font-size: 14pt;
    font-weight: 400;
    color: rgb(213,94,2);
}

progress{
    background-color: black;
    height:12px;
    border-radius: 15px;
  }
.index-content progress[value]::-webkit-progress-bar{
    background-color: black;
    height: 12px;
    padding: 2px;
    border-radius: 15px;
    border:1px solid rgb(213,94,2);
  }
  .index-content progress[value]::-webkit-progress-value {
    background-color: rgb(213,94,2);
    border-radius: 15px;
  }
  .index-content label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 280px;
  }



.index-main{
width: 80vw;
display: flex;
flex-direction: column;
justify-content: center;
gap:1rem;
}
.index-fila-main{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    height: 100%;
}
.index-columna{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap:1rem;
    height: 100%;
    
}

.trescuartos-main{
    flex-grow: 2;
    height: 100%;
    align-self: stretch;
    align-items: center;
}

.trescuartos-side{
    flex-grow: 1;
    width: 40%;
}

.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 12pt;
    text-align: center;
}

.circle-title{
    position: relative;
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-title p{
    text-align: center;
}





/*********************************************************************************************************************/
/******************************************************otros**********************************************************/
/*********************************************************************************************************************/


.forte{
    font-weight: 600;
}

.reverse{
    transform: scaleX(-1);
}

.botlineaNaranja{
    border-bottom:1px solid rgb(213,94,2);
}
.fila{
    padding: 2rem;
    display: flex;
    justify-content: space-between;

}
.vacio{
    min-height: 60vh;
}

/*********************************************************************************************************************/
/*****************************************************querys*********************************************************/
/*********************************************************************************************************************/

@media only screen and (max-width:560px){

    header .banner{
        height: 60vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

  

    header .nombre{
        height: 50%;
    }
    
    header .escudo{
        align-self: center;
        height: 90%;
    }
}

























