<div class="bk bkbanner"> </div>
    <app-header></app-header>
    <app-nav></app-nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
        <h1>Proyectos</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <div class="index-main">
        <!--mensajes relacionados con la manipulacion de Proyectos-->
        <p>{{ProyectoMessage}}</p>

        <section *ngFor="let Proyecto of Proyectos" class="section-proyecto">
            <img draggable="false" src={{Proyecto.pictureurl}} alt={{Proyecto.titulo}}>
            <div class="title-relative">
                <h2>Proyecto: {{Proyecto.titulo}}</h2>
                <p>{{Proyecto.descripcion}}</p>
            </div>
            <button *ngIf="Proyecto.botonver" routerLink={{Proyecto.botonurl}}>Ver más</button>
        </section>

    </div>
    <div class="vacio"></div>
</main>
<app-footer></app-footer>