<div class="bk bkbanner"> </div>
    <app-header></app-header>
    <app-nav></app-nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
        <h1>Proyectos</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <div class="index-main">
    <section class="section-proyecto">
        <img draggable="false" src="../assets/captura-proyecto-1.png" alt="captura-proyecto-1">
        <div class="title-relative">
            <h2>Proyecto 1: Mi Portfolio Web</h2>
            <p>Proyecto presentado como trabajo final para curso de programación full Stack en el marco del programa "Argentina Programa" de la Nación. <br>
            Este proyecto tiene como consigna ser un portfolio web con la posibilidad de iniciar sesión y modificar elementos dentro del mismo a través de una interfaz simple. Permite modificar, crear y eliminar experiencias laborales, estudios y proyectos. <br>
            No admite eliminar ciertos elementos que ya van a existir por defecto (este proyecto, algunas experiencias laborales y educativas. <br>
            Sí permite agregar y luego eliminar o modificar esos nuevos elementos</p>
        </div>
    </section>
    </div>
    <div class="vacio"></div>
</main>
<app-footer></app-footer>