<div class="bk bkbanner"> </div>
    <header>
        <div class="bannerHSeparados botlineaNaranja bkoscuro">
            <div class="argprog">
                <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
                <h5>Argentina Programa #YoProgramo</h5>
            </div>
            <a class="loggin" href="login">Iniciar Sesión</a>
        </div>
        <div class="banner bannerHSeparados">
            <img draggable="false" class="nombre" src="../assets/bannerweb-04.png" alt="Bienvenido al portfolio de Tomas Stevan">
            <img draggable="false" class="reverse escudo" src="../assets/bannerweb-03-07.png" alt="Bienvenido al portfolio de Tomas Stevan">
        </div>
    </header>

<nav>
    <div class="navsosten">
        <img draggable="false" class="reverse" src="../assets/assets web-03.png" alt="">
        <img draggable="false" id="palo" src="../assets/assets web-04.png" alt="">
        <img draggable="false" src="../assets/assets web-03.png" alt="">
    </div>
    <div class="nav">
        <a href=""><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-25.png" alt=""></a> 
        <a href="#"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-24.png" alt=""></a> 
        <a href="carrera"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-26.png" alt=""></a> 
        <a href="contacto"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-23.png" alt=""></a> 
    </div>
</nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
        <h1>Proyectos</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-20.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <div class="index-main">
    <section class="section-proyecto">
        <img draggable="false" src="../assets/captura-proyecto-1.png" alt="captura-proyecto-1">
        <div class="title-relative">
            <h2>Proyecto 1: Mi Portfolio Web</h2>
            <p>Proyecto presentado como trabajo final para curso de programación full Stack en el marco del programa "Argentina Programa" de la Nación. <br>
            Este proyecto tiene como consigna ser un portfolio web con la posibilidad de iniciar sesión y modificar elementos dentro del mismo a través de una interfaz simple. Permite modificar, crear y eliminar experiencias laborales, estudios y proyectos. <br>
            No admite eliminar ciertos elementos que ya van a existir por defecto (este proyecto, algunas experiencias laborales y educativas. <br>
            Sí permite agregar y luego eliminar o modificar esos nuevos elementos</p>
        </div>
    </section>
    </div>
    <div class="vacio"></div>
</main>
<footer>
    <div class="footer-up">
        <div class="bkfooter"> </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
        <div class="footer-content">
            <div class="footer-column">
                <img draggable="false" class="logo-footer" src="../assets/logo-un-color-13.png" alt="">
            </div>
            <div class="footer-botones-contacto">
                <a href="https://github.com/tycotic23"><img draggable="false" src="../assets/githublogo-naranja.png" alt=""></a>
                <a href="https://www.behance.net/asdadasdasdasd1"><img draggable="false" src="../assets/behance-logo.png" alt=""></a>
                <a href="https://tycotic.itch.io/"><img draggable="false" src="../assets/itchio-logo.png" alt=""></a>
            </div>
            
        </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
    </div>
   <div class="sub-footer">
    <div class="footer-redes-sociales">
        <a href="mailto:magui.maggie@gmail.com"><img draggable="false" class="icono" src="../assets/contactos-orejas-28.png" alt="email">magui.maggie@gmail.com</a>
        <a href="https://wa.me/5493417197518"><img draggable="false" class="icono" src="../assets/contactos-orejas-27.png" alt="telefono">+54 9 341 719-7518</a>
    </div>
   </div>
</footer>