<div class="bk bkbanner"> </div>
<app-header></app-header>
<app-nav></app-nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-19.png" alt="">
        <h1>Cómo Encontrarme</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-19.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <div class="contactos">
        <img draggable="false" class="bk-contactos" src="../assets/fondo-mapa-contactos.jpg" alt="">
        <div class="content-contactos">
                <!--mensajes relacionados con la manipulacion de Contactos-->
                <p class="cargando">{{contactoMessage}}</p>
            <a *ngFor="let contacto of contactos" href={{contacto.url}}><div class="red-social-contactos">
                <div class="icono-contacto-bk"><img draggable="false" src={{contacto.logourl}} alt={{contacto.redsocial}}></div>
                <p><span>{{contacto.redsocial}}<br></span>{{contacto.texto}}</p>
            </div></a>

        </div>
    </div>
    <div class="vacio"></div>
</main>
<app-footer></app-footer>