<nav>
    <div class="navsosten">
        <img draggable="false" class="reverse" src="../assets/assets web-03.png" alt="">
        <img draggable="false" id="palo" src="../assets/assets web-04.png" alt="">
        <img draggable="false" src="../assets/assets web-03.png" alt="">
    </div>
    <div class="nav">
        <a routerLink="/home"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-25.png" alt=""></a> 
        <a routerLink="/proyectos"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-24.png" alt=""></a> 
        <a routerLink="/carrera"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-26.png" alt=""></a> 
        <a routerLink="/contacto"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-23.png" alt=""></a> 
    </div>
</nav>
