<div class="bk bkbanner"> </div>
    <header>
        <div class="bannerHSeparados botlineaNaranja bkoscuro">
            <div class="argprog">
                <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
                <h5>Argentina Programa #YoProgramo</h5>
            </div>
            <a class="loggin" href="login">Iniciar Sesión</a>
        </div>
        <div class="banner bannerHSeparados">
            <img draggable="false" class="nombre" src="../assets/bannerweb-04.png" alt="Bienvenido al portfolio de Tomas Stevan">
            <img draggable="false" class="reverse escudo" src="../assets/bannerweb-03-07.png" alt="Bienvenido al portfolio de Tomas Stevan">
        </div>
    </header>
<nav>
    <div class="navsosten">
        <img draggable="false" class="reverse" src="../assets/assets web-03.png" alt="">
        <img draggable="false" id="palo" src="../assets/assets web-04.png" alt="">
        <img draggable="false" src="../assets/assets web-03.png" alt="">
    </div>
    <div class="nav">
        <a href=""><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-25.png" alt=""></a> 
        <a href="proyectos"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-24.png" alt=""></a> 
        <a href="#"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-26.png" alt=""></a> 
        <a href="contacto"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-23.png" alt=""></a> 
    </div>
</nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-22.png" alt="">
        <h1>Formación y Experiencia</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-22.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <h2>Experiencia Laboral</h2>
    <section class="xp-section">
        <h5 class="forte"><span>Noviembre 2022-Actualmente</span> | Sonidos Distantes Producciones </h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logo-SD.png" alt="Sonidos Distantes">
            <p><span>Asistente de producción</span><br>Gestión administrativa para productora musical dedicada a eventos empresariales y particulares.</p>
        </div>
    </section>
    <section class="xp-section">
        <h5 class="forte"><span>Noviembre 2022-Actualmente</span> | Soluciones Prácticas - Estudio de Diseño </h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logo-soluciones-practicas.png" alt="Soluciones Prácticas">
            <p><span>Diseñador Gráfico</span><br>Diseñador gráfico freelance.</p>
        </div>
    </section>
    <section class="xp-section">
        <h5 class="forte"><span>2019-Actualmente (interrumpido durante pandemia)</span> | A.T.E. - Asociación Trabajadores del Estado</h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logo-ate.png" alt="ATE">
            <p><span>Profesor de taller</span><br>Profesor de taller para adultos mayores sobre uso de celulares </p>
        </div>
    </section>
    <section class="xp-section">
        <h5 class="forte"><span>2018-2020</span> | VOX Asociación Civil</h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logo-vox.jpg" alt="VOX">
            <p><span>Promoción de derechos</span><br>Voluntario en organización LGBT sin fines de lucro. Promotor de derechos, charlas y talleres</p>
        </div>
    </section>
    <h2>Formación Académica</h2>
    <section class="formacion-section">
            <h5 class="forte">de 2020 hasta Actualidad</h5>
            <div class="content-section">
                <img draggable="false" src="../assets/logo artes visuales.png" alt="Artes visuales">
                <p><span> Escuela provincial de artes visuales. </span><br>Tecnicatura en diseño gráfico y
                comunicación visual</p>
            </div>
        </section>

    <section class="formacion-section">
        <h5 class="forte">de 2017 hasta 2019</h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logo-fceia.png" alt="Fceia">
            <p><span> Facultad de Ciencias Exactas de la Universidad Nacional de Rosario.</span><br>Ingeniería en sistemas. Incompleto.</p>
        </div>
    </section>
    <section class="formacion-section">
        <h5 class="forte">de 2015 hasta 2016</h5>
        <div class="content-section">
            <img draggable="false" src="../assets/logoutnwhite.png" alt="UTN">
            <p><span> Universidad Tecnológica Nacional.</span><br>Licenciatura en ciencias de la computación. Incompleto.</p>
        </div>
    </section>
    <section class="formacion-section">
        <h5 class="forte">de 2010 hasta 2014</h5>
        <div class="content-section">
            <img draggable="false" src="../assets/ic-logo-02.png" alt="Sagrado Corazón">
            <p><span> Colegio Sagrado Corazón.</span><br>Orientación producción de bienes y servicios. 2do mejor promedio.</p>
        </div>
    </section>
    <div class="vacio"></div>
</main>
<footer>
    <div class="footer-up">
        <div class="bkfooter"> </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
        <div class="footer-content">
            <div class="footer-column">
                <img draggable="false" class="logo-footer" src="../assets/logo-un-color-13.png" alt="">
            </div>
            <div class="footer-botones-contacto">
                <a href="https://github.com/tycotic23"><img draggable="false" src="../assets/githublogo-naranja.png" alt=""></a>
                <a href="https://www.behance.net/asdadasdasdasd1"><img draggable="false" src="../assets/behance-logo.png" alt=""></a>
                <a href="https://tycotic.itch.io/"><img draggable="false" src="../assets/itchio-logo.png" alt=""></a>
            </div>
            
        </div>
        <img draggable="false" class="separador-footer" src="../assets/separador-footer.png" alt="">
    </div>
   <div class="sub-footer">
    <div class="footer-redes-sociales">
        <a href="mailto:magui.maggie@gmail.com"><img draggable="false" class="icono" src="../assets/contactos-orejas-28.png" alt="email">magui.maggie@gmail.com</a>
        <a href="https://wa.me/5493417197518"><img draggable="false" class="icono" src="../assets/contactos-orejas-27.png" alt="telefono">+54 9 341 719-7518</a>
    </div>
   </div>
</footer>