<div class="bk bkbanner"> </div>
<app-header></app-header>
<app-nav></app-nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="../assets/menu-banderas-iconos-22.png" alt="">
        <h1>Formación y Experiencia</h1>
        <img draggable="false" src="../assets/menu-banderas-iconos-22.png" alt="">
    </div>
    <div class="bk bkmain"> </div>
    <h2>Experiencia Laboral</h2>
    <!--mensajes relacionados con la manipulacion de Explaborals-->
    <p>{{explaboralMessage}}</p>
    <section *ngFor="let explaboral of explaborals" class="xp-section">
        <h5 class="forte"><span>{{explaboral.fechaini}}-{{explaboral.fechafin}}</span> | {{explaboral.empresa}} </h5>
        <div class="content-section">
            <img draggable="false" src={{explaboral.logourl}} alt={{explaboral.empresa}}>
            <p><span>{{explaboral.puesto}}</span><br>{{explaboral.descripcion}}</p>
            <p *ngIf="explaboral.referencias!=''"><span>Referencias</span><br>{{explaboral.referencias}}</p>
        </div>
    </section>

    <h2>Formación Académica</h2>
        <!--mensajes relacionados con la manipulacion de Educaciones-->
        <p>{{educacionMessage}}</p>
        
        <section *ngFor="let educacion of educacions" class="formacion-section">
            <h5 class="forte">de {{educacion.fechaini}} hasta {{educacion.fechafin}}</h5>
            <div class="content-section">
                <img draggable="false" src={{educacion.logourl}} alt={{educacion.institucion}}>
                <p><span> {{educacion.institucion}}</span><br>{{educacion.titulo}}</p>
            </div>
        </section>

    <div class="vacio"></div>
</main>
<app-footer></app-footer>