<div class="bk bkbanner"> </div>
    <header class="log-head">
        <div class="bannerHSeparados botlineaNaranja bkoscuro">
            <div class="argprog">
                <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
                <h5>Argentina Programa #YoProgramo</h5>
            </div>
            <div class="nav-log">
                <a class="" routerLink="/carrera">Ver Página </a>
                <app-nav-logout></app-nav-logout>
            </div>
        </div>
    </header>
<main class="log-edit">
    <div class="bk bkdashboard"> </div>
    <h1 class="botlineaNaranja">Educación</h1>
    <div class="edit-main">
        <app-nav-edit class="trescuartos-side index-columna"></app-nav-edit>
        <div class="index-columna content-edit">
            <!--Contenido principal de esta pagina-->
            <app-educacion-edit></app-educacion-edit>
        
        </div>
    </div>
</main>
