<div class="menu-nav">
    <h2>Formación:</h2>
    <div class="botones-edit">
        <button (click)="onNewEducacion()"[disabled]="enProceso">Nuevo</button>
        <button (click)="restoreEducacion()"[disabled]="enProceso">Restaurar</button>
    </div>
    <!--mensajes relacionados con la manipulacion de Educaciones-->
<p>{{educacionMessage}}</p>
</div>
<!--el siguiente formulario solo se muestra si se agrega un nuevo Educacion-->
<div id="new-element" *ngIf="newEducacion">
    
    <form (ngSubmit)="onCreateEducacion()" novalidate #f="ngForm">
        <h3>nueva formación</h3>
        <label for="new">Título: <input type="text" name="new" id="new" [(ngModel)]="newEducacionTitulo" required></label>
        <label for="newinst">Institución: <input type="text" name="newinst" id="newinst" [(ngModel)]="newEducacionInstitucion" required></label>
        <label for="newFechaini">¿Cuándo empezaste?: <input type="text" name="newFechaini" id="newFechaini" [(ngModel)]="newEducacionFechaini"></label>
        <label for="newFechafin">¿Cuándo terminaste?: <input type="text" name="newFechafin" id="newFechafin" [(ngModel)]="newEducacionFechafin"></label>
        <label for="newImagen">Logo de la empresa: <input type="text" name="newImagen" id="newImagen" [(ngModel)]="newEducacionLogourl"></label>
        <p>*las imagenes aceptan solo url</p>
        <button [disabled]="enProceso">Añadir</button>
        <button (click)="onNewEducacion()">Cancelar</button>
        <p>{{educacionCreatedError}}</p>
    </form>
</div>
    <ul class="ul-column gap-3">
        <li *ngFor="let educacion of educacions">
            <div class="column gap-1 align-stretch">
                <div class="row self-end align-center">
                    <!--botones alineados a la derecha-->
                    <button class="edit-button" *ngIf="!editEducacion" (click)="borrarEducacion(educacion.id)"[disabled]="enProceso"><img draggable="false" class="edit-icon" src="../../assets/boton-edit-32.png" alt="eliminar"></button>
                        <button class="edit-button" *ngIf="!editEducacion" (click)="showEditarEducacion(educacion)"[disabled]="enProceso"><img draggable="false" class="edit-icon" src="../../assets/boton-edit-31.png" alt="editar"></button>
                        <button *ngIf="editEducacion && educacion.id==editEducacionSelected" (click)="editarEducacion(educacion.id)"[disabled]="enProceso">Aceptar</button>
                        <button *ngIf="editEducacion && educacion.id==editEducacionSelected" (click)="hiddenEditarEducacion()">Cancelar</button>
                </div>
                <!--titulo con su input-->
                <label class="label-titulo" for="edittitulo">{{educacion.titulo}} </label>
                <input *ngIf="educacion.id==editEducacionSelected" class="edit"  type="text" name="edittitulo" [(ngModel)]="editEducacionTitulo">
                <div class="row align-start gap-1">
                    <!--logo-->
                    <label for="editimg"> <img class="logo-exp" src={{educacion.logourl}} alt="⊙﹏⊙"> </label>
                    <div class="column">
                         <!--institucion con su input-->
                         <label class="label-titulo wrap" for="editinstitucion">{{educacion.institucion}} </label>
                         <input *ngIf="educacion.id==editEducacionSelected" class="edit"  type="text" name="editinstitucion" [(ngModel)]="editEducacionInstitucion">
                         <div class="row justify-start gap-1">
                            <div class="column">
                                <!--fechaini con su input-->
                                <label for="editfechaini">{{educacion.fechaini}} </label>
                                <input *ngIf="educacion.id==editEducacionSelected" class="edit"  type="text" name="editfechaini" [(ngModel)]="editEducacionFechaini">
                            </div>
                            <div class="column">
                                <p> hasta </p>
                                <p *ngIf="educacion.id==editEducacionSelected"> hasta </p>
                            </div>
                            <div class="column">
                                <!--fechafin con su input-->
                                <label for="editfechafin">{{educacion.fechafin}} </label>
                                <input *ngIf="educacion.id==editEducacionSelected" class="edit"  type="text" name="editfechafin" [(ngModel)]="editEducacionFechafin">
                            </div>
                         </div>
                    </div>
                </div>
                <!--input del logo-->
                <input class="edit" *ngIf="educacion.id==editEducacionSelected" type="text" name="editimg" [(ngModel)]="editEducacionLogourl">
            </div>
        </li>
    </ul>


