<div class="bk bkbanner"> </div>
    <header class="log-head">
        <div class="bannerHSeparados botlineaNaranja bkoscuro">
            <div class="argprog">
                <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
                <h5>Argentina Programa #YoProgramo</h5>
            </div>
            <div class="nav-log">
                <a class="" href="">Ver Página </a>
                <a class="loggin" href="">Cerrar Sesión</a>
            </div>
        </div>
    </header>
<main class="log-edit">
    <div class="bk bkdashboard"> </div>
    <h1 class="botlineaNaranja">Home</h1>
    <div class="edit-main">
        <div class="index-columna trescuartos-side">
            <h2>Menú</h2>
            <a routerLink="/">General</a>
            <a routerLink="/">Home</a>
            <a routerLink="/">Contacto</a>
            <a routerLink="/">Proyectos</a>
            <a routerLink="/">Educación</a>
            <a routerLink="/">Laboral</a>

        </div>
        <div class="index-columna content-edit">
            <!--Contenido principal de esta pagina-->
            <app-idiomas-edit></app-idiomas-edit>
            <app-idiomas-edit></app-idiomas-edit>
            <app-idiomas-edit></app-idiomas-edit>
        
        </div>
    </div>



</main>
