<div class="menu-nav">
    <h2>Conocimientos</h2>
    <div class="botones-edit">
        <button (click)="onNewConocimiento()">Nuevo</button>
        <button (click)="restoreConocimiento()">Restaurar</button>
    </div>
</div>
<!--el siguiente formulario solo se muestra si se agrega un nuevo Conocimiento-->
<div *ngIf="newConocimiento">
    
    <form (ngSubmit)="onCreateConocimiento()" novalidate #f="ngForm">
        <h3>nuevo Conocimiento</h3>
        <label for="new">Conocimiento: <input type="text" name="new" id="new" [(ngModel)]="newConocimientoNombre" required></label>
        <label for="newImagen">Imagen Url: <input type="text" name="newImagen" id="newImagen" [(ngModel)]="newConocimientoLogourl" required></label>
        <label for="newcategoria.categoria"> Categoría:
        <select name="newcategoria.categoria" id="newcategoria.categoria" [(ngModel)]="newConocimientoCategoria" required>
            <option *ngFor="let categoria of categorias" value={{categoria.categoria}}> {{categoria.categoria}}</option>
        </select></label>
        <p>*las imagenes aceptan solo url</p>
        <button [disabled]="!f.valid">Añadir</button>
        <button (click)="onNewConocimiento()">Cancelar</button>
        <p>{{ConocimientoCreatedError}}</p>
    </form>
</div>

<div>
    <ul class="ul-row">
        <li class="column" *ngFor="let conocimiento of conocimientos">
            <div class="row">
                <div class="column align-center">
                    <label class="label-categoria" for="editcategoria.categoria">{{conocimiento.categoria.categoria}}</label>
                    <img class="icono" src={{conocimiento.logourl}} alt={{conocimiento.nombre}}>
                    <label for='editnombre'>{{conocimiento.nombre}}</label>
                </div>
                <div class="column align-center justify-between">
                    <select class="edit" *ngIf="conocimiento.id==editConocimientoSelected" name="editcategoria.categoria" [(ngModel)]="editConocimientoCategoria">
                        <option *ngFor="let categoria of categorias" value={{categoria.categoria}}> {{categoria.categoria}}</option>
                    </select>
                    <input class="edit" *ngIf="conocimiento.id==editConocimientoSelected" type="text" name="editimage" [(ngModel)]="editConocimientoLogourl">
                    <input class="edit" *ngIf="conocimiento.id==editConocimientoSelected" type="text" name="editnombre" [(ngModel)]="editConocimientoNombre">
                </div>
            </div>
            <div class="row justify-end">
                <button *ngIf="!editConocimiento" (click)="borrarConocimiento(conocimiento.id)">X</button>
                <button *ngIf="!editConocimiento" (click)="showEditarConocimiento(conocimiento)">e</button>
                <button *ngIf="editConocimiento && conocimiento.id==editConocimientoSelected" (click)="editarConocimiento(conocimiento.id)">Aceptar</button>
                <button *ngIf="editConocimiento && conocimiento.id==editConocimientoSelected" (click)="hiddenEditar()">Cancelar</button>
            </div>
            
        </li>
    </ul>
</div>
<!--mensajes relacionados con la manipulacion de Conocimientos-->
<p>{{ConocimientoMessage}}</p>

<div class="menu-nav row">
    <h3>Categorías</h3>
    <button (click)="onNewCategoria()">+</button>
</div>
<div id="new-element" *ngIf="newCategoria">
    
    <form (ngSubmit)="onCreateCategoria()" novalidate #f="ngForm">
        <h3>nueva categoría</h3>
        <label for="newCat">Categoría: <input type="text" name="newCat" id="newCat" [(ngModel)]="newCategoriaNombre" required></label>
        <label for="newCatOrder">Categoría: <input type="number" name="newCatOrder" id="newCatOrder" min=0 [(ngModel)]="newCategoriaOrden" required></label>
        <button [disabled]="!f.valid">Añadir</button>
        <button (click)="onNewCategoria()">Cancelar</button>
        <p>{{CategoriaCreatedError}}</p>
    </form>
</div>
<ul class="ul-row align-start justify-start">
    <li class="align-start" *ngFor="let categoria of categorias">
        <div class="row gap-1 align-start">
            <label for="editOrden">{{categoria.orden}}</label>
            <label class="label-categoria" for="editCategoria">{{categoria.categoria}}</label>
            <div class="row">
                <button *ngIf="!editCategoria" (click)="borrarCategoria(categoria.id)">X</button>
            <button *ngIf="!editCategoria" (click)="showEditarCategoria(categoria)">e</button>
            <button *ngIf="editCategoria && categoria.categoria==editCategoriaSelected" (click)="editarCategoria(categoria.id)">Aceptar</button>
            <button *ngIf="editCategoria && categoria.categoria==editCategoriaSelected" (click)="hiddenEditar()">Cancelar</button>
            </div>
        </div>
        <div class="column align-start">
            <input class="edit" *ngIf="categoria.categoria==editCategoriaSelected" type="text" name="editcategoria.categoria" [(ngModel)]="editCategoriaNombre">
            <input class="edit" *ngIf="categoria.categoria==editCategoriaSelected" type="number" min=0 name="editimage" [(ngModel)]="editCategoriaOrden">
        </div>
    </li>
</ul>
<!--mensajes relacionados con la manipulacion de Categorias-->
<p>{{CategoriaMessage}}</p>


