<div class="bk bkbanner"> </div>
<app-header></app-header>
<app-nav></app-nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="assets/menu-banderas-iconos-21.png" alt="">
        <h1>Sobre Mí</h1>
        <img draggable="false" src="assets/menu-banderas-iconos-21.png" alt="">
    </div>
    
    <div class="bk bkmain"> </div>
    <div class="index-main">
        <section class="index-section">
            <h2>¡Bienvenido!</h2>
            <p>Bienvenido a mi portfolio. Este proyecto es la entrega del trabajo final en el marco del Argentina Programa <span>#YoProgramo</span></p>
        </section>
        <!--mensajes relacionados con la manipulacion de Textomains-->
        <p>{{TextomainMessage}}</p>
        <div class="index-fila-main">
            <div class="index-columna trescuartos-main">
                <h2>{{Textomains.nombre}}</h2>
                <img *ngIf="Textomains.fotourl!=''" draggable="false" src={{Textomains.fotourl}} alt="mi foto">
            </div>
            <div class="index-columna trescuartos-side">
                <section class="main-section">
                    <h2>¿Quién soy?</h2>
                    <p>{{Textomains.texto}}</p>
                </section>
                <section class="main-section">
                    <h2>Ubicación</h2>
                    <p>{{Textomains.ubicacion}}</p>
                </section>
            </div>
        </div>
            <!--mensajes relacionados con la manipulacion de Conocimientos-->
            <p>{{ConocimientoMessage}}</p>
            <section *ngFor="let categoria of categorias" class="index-section">
                <h2>{{categoria.categoria}}</h2>
                    <!--mensajes relacionados con la manipulacion de Conocimientos-->
                    <p *ngIf="ConocimientoMessage!=''">{{ConocimientoMessage}}</p>
                <div class="index-content">
                    <div *ngFor="let conocimiento of filtrarPorCategoria(conocimientos,categoria.categoria)" class="lenguaje" >
                            <img   draggable="false" src={{conocimiento.logourl}} alt={{conocimiento.nombre}}>
                            <h3 >{{conocimiento.nombre}}</h3>
                    </div>
                </div>
            </section>
        <section class="index-section">
            <h2>Skills</h2>
                <!--mensajes relacionados con la manipulacion de Skills-->
                <p *ngIf="skillMessage!=''">{{skillMessage}}</p>
            <div class="index-content">
                <div *ngFor="let skill of skills" class="circle-title">
                    <p>{{skill.skill}}</p>
                </div>
            </div>
        </section>
        <section class="index-section">
            <h2>Idiomas</h2>
            <!--mensajes relacionados con la manipulacion de idiomas-->
            <p *ngIf="idiomaMessage!=''">{{idiomaMessage}}</p>
            <div class="index-content">
                <label *ngFor="let idioma of idiomas" for="file">{{idioma.idioma}}:
                <progress id="file" max="100" value={{idioma.nivel}}> {{idioma.nivel}}% </progress></label>
            </div>
        </section>
    </div>
    <div class="vacio"></div>
</main>
<app-footer></app-footer>
