<nav>
    <div class="navsosten">
        <img draggable="false" class="reverse" src="../assets/assets web-03.png" alt="">
        <img draggable="false" id="palo" src="../assets/assets web-04.png" alt="">
        <img draggable="false" src="../assets/assets web-03.png" alt="">
    </div>
    <div class="nav">
        <a href="#"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-25.png" alt=""></a> 
        <a href="proyectos"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-24.png" alt=""></a> 
        <a href="carrera"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-26.png" alt=""></a> 
        <a href="contacto"><img draggable="false" class="bk-bandera" src="../assets/banderas-pintadas-23.png" alt=""></a> 
    </div>
</nav>
<main>
    <div class="t1 botlineaNaranja">
        <img draggable="false" src="assets/menu-banderas-iconos-21.png" alt="">
        <h1>Sobre Mí</h1>
        <img draggable="false" src="assets/menu-banderas-iconos-21.png" alt="">
    </div>
    
    <div class="bk bkmain"> </div>
    <div class="index-main">
        <section class="index-section">
            <h2>¡Bienvenido!</h2>
            <p>Bienvenido a mi portfolio. Este proyecto es la entrega del trabajo final en el marco del Argentina Programa <span>#YoProgramo</span></p>
        </section>
        <div class="index-fila-main">
            <div class="index-columna trescuartos-main">
                <img draggable="false" src="assets/foto-perfil.png" alt="mi foto">
            </div>
            <div class="index-columna trescuartos-side">
                <section class="index-section">
                    <h2>Lenguajes</h2>
                    <div class="index-content">
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-01.png" alt="c++">
                            <h3>C/C++</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-02.png" alt="c++">
                            <h3>Java</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-05.png" alt="c++">
                            <h3>Javascript</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-06.png" alt="c++">
                            <h3>SQL</h3>
                        </div>
                    </div>
                </section>
                <section class="index-section">
                    <h2>Front End</h2>
                    <div class="index-content">
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-04.png" alt="c++">
                            <h3>HTML</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-05.png" alt="c++">
                            <h3>Javascript</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-07.png" alt="c++">
                            <h3>CSS</h3>
                        </div>
                    </div>
                </section>
                <section class="index-section">
                    <h2>Frameworks</h2>
                    <div class="index-content">
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-03.png" alt="c++">
                            <h3>Spring Boot</h3>
                        </div>
                        <div class="lenguaje">
                            <img draggable="false" src="assets/lenguajes-08.png" alt="c++">
                            <h3>Angular</h3>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="main-section">
            <h2>¿Quién soy?</h2>
            <p>Me llamo Tomas Stevan Balanda Wagner. Freelancer desde finales de 2022. 
                Pasé por varias carreras, siempre cercanas, de alguna manera, al desarrollo de videojuegos. Ya sea desde el área informática o artística.
                Durante 2022 comencé a formarme en desarrollo fullstack a partir del programa "Argentina Programa" con la intención de entrar a la industria de desarrollo de software. Aunque sin perder de vista el verdadero objetivo a alcanzar algún día: los videojuegos. </p>
        </section>
        <section class="index-section">
            <h2>Diseño</h2>
            <div class="index-content">
                <div class="lenguaje">
                    <img draggable="false" src="assets/lenguajes-09.png" alt="c++">
                    <h3>Photoshop</h3>
                </div>
                <div class="lenguaje">
                    <img draggable="false" src="assets/lenguajes-10.png" alt="c++">
                    <h3>Illustrator</h3>
                </div>
                <div class="lenguaje">
                    <img draggable="false" src="assets/lenguajes-11.png" alt="c++">
                    <h3>Blender</h3>
                </div>
                <div class="lenguaje">
                    <img draggable="false" src="assets/lenguajes-12.png" alt="c++">
                    <h3>After Effects</h3>
                </div>
            </div>
        </section>
        <section class="index-section">
            <h2>Skills</h2>
            <div class="index-content">
                <div class="circle-title">
                    <p>Comunicación</p>
                </div>
                <div class="circle-title">
                    <p>Gestión del tiempo</p>
                </div>
                <div class="circle-title">
                    <p>Responsabilidad</p>
                </div>
                <div class="circle-title">
                    <p>Proactividad</p>
                </div>
                <div class="circle-title">
                    <p>Trabajo en equipo</p>
                </div>
            </div>
        </section>
        <section class="index-section">
            <h2>Idiomas</h2>
            <div class="index-content">
                <label for="file">Español (nativo):
                <progress id="file" max="100" value="90"> 90% </progress></label>
                <label for="file">Inglés:
                <progress id="file" max="100" value="50"> 50% </progress></label>
                <label for="file">Alemán:
                <progress id="file" max="100" value="10"> 10% </progress></label>
            </div>
        </section>
    </div>
    <div class="vacio"></div>
</main>
