<div class="bk bkbanner"> </div>
    <header class="log-head">
        <div class="bannerHSeparados botlineaNaranja bkoscuro">
            <div class="argprog">
                <img draggable="false" src="../assets/logo-arg-prog.png" alt="logo Argentina Programa">
                <h5>Argentina Programa #YoProgramo</h5>
            </div>
        </div>
    </header>
<main class="log-main">
    <div class="bk bkdashboard"> </div>
    <div class="index-main">
        <section class="form-loggin">
            <h2>Iniciar Sesión</h2>
            <form #f="ngForm" (ngSubmit)="onLogin()">
                <label class="flamenco" for="usuario">Usuario:</label>
                <input type="text" name="usuario" id="usuario" [(ngModel)]="nombreUsuario" required>
                <label class="flamenco" for="password">Contraseña:</label>
                <input type="text" name="password" id="password" [(ngModel)]="password" required>
                <button type="submit" [disabled]="!f.valid || isLogging">Iniciar Sesión</button>
                <p>{{errMsj}}</p>
            </form>
        </section>
    </div>
</main>
